<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="Test1">
        <classes>
            <class name="org.Calculator.Main"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
    </listeners>
</suite>
<suite name="Suite2" verbose="1">
<test name="Test2">
    <classes>
        <class name="org.Calculator.Validasi"/>
    </classes>
</test>
<listeners>
    <listener class-name="org.testng.reporters.XMLReporter"/>
    <listener class-name="org.testng.reporters.EmailableReporter"/>
    <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
</listeners>
</suite>
<suite name="Suite3" verbose="1">
<test name="Test3">
    <classes>
        <class name="org.Calculator.Komputasi"/>
    </classes>
</test>
<listeners>
    <listener class-name="org.testng.reporters.XMLReporter"/>
    <listener class-name="org.testng.reporters.EmailableReporter"/>
    <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
</listeners>
</suite>
